<div>
  <!-- Title -->
  <mat-card-title>New Todo!</mat-card-title>

  <!-- Subtitle -->
  <mat-card-subtitle>add new one</mat-card-subtitle>

  <!-- Dialog form -->
  <form [formGroup]="dialogData" (submit)="createNewTodo()" class="add-todo-form">

    <!-- Author -->
    <mat-form-field appearance="outline">
      <mat-label>Author</mat-label>
      <input formControlName="author" matInput>
      <mat-error *ngIf="dialogData.invalid && (dialogData.dirty || dialogData.touched)">Not a valid author name.</mat-error>
    </mat-form-field>

    <!-- Title -->
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput>
      <mat-error *ngIf="dialogData.status">Not a valid todo title.</mat-error>
    </mat-form-field>

    <!-- Todo body -->
    <mat-form-field appearance="outline">
      <mat-label>Todo</mat-label>
      <textarea formControlName="body" matInput></textarea>
      <button mat-icon-button matSuffix (click)="generateTodo()" type="button">
        <mat-icon>auto_fix_high</mat-icon>
      </button>
      <mat-error *ngIf="dialogData.status">Not a valid todo.</mat-error>
    </mat-form-field>

    <!-- Schedule date picker -->
    <mat-form-field appearance="outline">
      <mat-label>Scheduled for</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="scheduleAt">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Actions (save/close) -->
    <div mat-dialog-actions class="form-actions">
      <button mat-button  type="button" (click)="onNoClick()">CLOSE</button>
      <button mat-button type="submit">Ok</button>
    </div>
  </form>
</div>
